body{
  background: #f2f2f2;
}

.dashboard-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
}

.profile-wrapper{
  display:flex;
  align-items:center;
  justify-content:left;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  background: #ffffff;
  padding: 10px;
  height:125px;
  width:300px;
}

.profile-image{
  width:123px !important;
  border: 2px solid orange;
  margin-right: 10px;
}

.profile-d-wrapper{
  width: 123px;
  text-align: center;
  margin: 0px 15px;
}
.edit-profile{
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
  border: solid 1px #ccc3c3;
  color: black;
  padding:10px 0;
}

.profile-name{
  font-size: 24pt
}

a, a:hover, a:visited{
  text-decoration: none;
  color: black;
}

.description-wrapper{
  width: 450px;
  padding: 0px 20px;
  margin: 0px 0px 0px 20px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  background: #ffffff;
  padding: 10px;
  height:125px;
}

.friends-wrapper{
  margin-top:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  height: auto;
}

.friends-container{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  background: #ffffff;
  
  width:810px;
  height: 100vh;
}

.friends-header{
  display:flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14pt;
  width:810px;
  
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.friends-title, .friends-sort, .friends-content{
  padding:10px;
}

.friends-content{
  display:flex;
  font-size:12pt;
  align-items:center;
  justify-content: center;
}

select, options{
  padding:5px
}